- op: add
  path: /machine/network/interfaces
  value:
    - deviceSelector:
        hardwareAddr: 6c:2b:59:df:0d:d6
        physical: true
      addresses:
        - 192.168.8.4/24
      routes:
        - network: 0.0.0.0/0
          gateway: 192.168.8.1
      mtu: 9000
      dhcp: false
      vip:
        ip: 192.168.8.10
      vlans:
        - vlanId: 002
          dhcp: false
          addresses:
            - "192.168.2.10/24"
          routes:
            - network: 192.168.2.0/24
              gateway: 192.168.2.1
