---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrypted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      scrypted:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["192.168.2.89/24"],
                "mac": "76:fa:11:c0:c9:84"
              }]
          securityContext:
            # runAsUser: 1000
            # runAsGroup: 1000
            # fsGroup: 1000
            # fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65542
              # - 109
        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/scrypted
              tag: 0.126.0@sha256:09d63d5b33db98b3b4c06dfd3d4044084d0d18b55808e3af07dfc10313bf18b7
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 1024Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 8192Mi

    service:
      app:
        controller: scrypted
        ports:
          http:
            port: 11080
            primary: true
          rebroadcast1:
            port: 34135
          rebroadcast2:
            port: 34136

    ingress:
      app:
        className: "internal"
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.ktmb1.net
        hosts:
          - host: scrypted.ktmb1.net
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: scrypted
        advancedMounts:
          scrypted:
            app:
              - path: /server/volume
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      cache-npm:
        type: emptyDir
        globalMounts:
          - path: /.npm
      # recs:
      #   type: nfs
      #   server: gladius.bjw-s.internal
      #   path: /mnt/tank/Apps/scrypted
      #   globalMounts:
      #     - path: /recs
